h1 { text-align: center;
}

#p1 {width: 40%;
margin-left: 7%;
margin-top: 5%;
}

#p2 {width: 40%;
margin-left: 57%;
margin-top: -34%;
}

h2 {font-size: medium;
    margin-left: 22%;
}

h3 {font-size: medium;
margin-left: 70%;
margin-top: -2%;
}

h4 {font-size: medium;
    margin-left: 71%;
    margin-top: 2%;
}

h5{margin-left: 22%;
margin-top: -18%;}


